{{define "title"}}编辑文章{{end}}
{{define "content"}}
    <div class=" container-fluid   container-fixed-lg">
        <!-- START card -->
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">编辑文章
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form
                                enctype="multipart/form-data"
                                class="form-horizontal form-ajax"
                                action="/admin/article/apply"
                                method="POST"
                                role="form"
                                autocomplete="on"
                                novalidate="novalidate">

                            {{include "article/form"}}

                            <br/>
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="hidden" name="ID" value="{{.data.ID}}">

                                </div>
                                <div class="col-md-7">
                                    <button class="btn btn-success" type="submit">提交</button>
                                    <a href="javascript:window.history.back();" class="btn btn-default">返回</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card -->
    </div>
    </div>
{{end}}

{{define "js"}}
    {{include "public/footer"}}


    <!-- END PAGE LEVEL JS -->
    <script type="application/javascript">
        var cates = "{{.curr_cate}}";
        var tags = "{{.curr_tags}}";
        var cate_arr = new Array()
        var tag_arr = new Array()
        $(document).ready(function () {
            if (cates) {
                let parseJSON = $.parseJSON(cates);
                for (item in parseJSON) {
                    cate_arr.push(parseJSON[item].id)
                }
            }
            if (tags) {
                let parseJSON = $.parseJSON(tags);
                for (item in parseJSON) {
                    tag_arr.push(parseJSON[item].id)
                }
            }
            $("#multi").val(tag_arr).select2();
            $("#multi1").val(cate_arr).select2();
        });
    </script>
{{end}}

