<!-- START HEADER -->
<div class="header ">
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
    </a>
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="">
        <div class="brand inline">
            <img src="/public/assets/img/logo.png" alt="logo" data-src="/public/assets/img/logo.png"
                 data-src-retina="/public/assets/img/logo_2x.png" width="78" height="22">
        </div>
    </div>
    <div class="d-flex align-items-center">

        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
            <span class="semi-bold">Admin</span> <span class="text-master">Nest</span>
        </div>
        <div class="dropdown pull-right d-lg-inline-block d-none">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <span class="thumbnail-wrapper d32 circular inline">
              <img src="/public/assets/img/profiles/avatar.jpg" alt="" data-src="/public/assets/img/profiles/avatar.jpg"
                   data-src-retina="/public/assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/admin/profile" class="dropdown-item"><i class="pg-settings_small"></i> 个人资料 </a>
                <a href="/admin/logout" class="clearfix bg-master-lighter dropdown-item">
                    <span class="pull-left">登出</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                </a>
            </div>
        </div>
        <!-- END User Info-->

    </div>
</div>
<!-- END HEADER -->