{{ define "public/menu" }}
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
        <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
        <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
            <img src="/public/assets/img/logo.png" alt="logo" class="brand" data-src="/public/assets/img/logo.png"
                 data-src-retina="/public/assets/img/logo_2x.png" width="78" height="22">
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
                <li class="m-t-30 ">
                    <a href="/admin/" class="detailed">
                        <span class="title">面板</span>
                    </a>
                    <span class="icon-thumbnail"><i data-feather="shield"></i></span>
                </li>
                <li class="open active">
                    <a href="javascript:;">
                        <span class="title">管理员设置</span>
                        <span class="arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i data-feather="cpu"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="/admin/admins/lists">管理员</a>
                            <span class="icon-thumbnail"><i data-feather="users"></i></span>
                        </li>
                        <li class="">
                            <a href="/admin/role/lists">角色</a>
                            <span class="icon-thumbnail">
                                <div class="fa-item"><i class="fa fa-group"></i></div>
                            </span>
                        </li>
                        <li class="">
                            <a href="/admin/permissions/lists">权限</a>
                            <span class="icon-thumbnail">
                                <div class="fa-item"><i class="fa fa-truck"></i></div>
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="m-t-10 ">
                    <a href="/admin/" class="detailed">
                        <span class="title">系统配置</span>
                        <span class="details">所有可变公共配置</span>
                    </a>
                    <span class="icon-thumbnail">
                        <div class="fa-item"><i class="fa pg-contact_book"></i></div>
                    </span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
{{end}}