{{define "title"}}首页{{end}}
{{define "content"}}
    <section data-theme="secondary" class="feature padding-y-xxl margin-bottom-xl">
        <div class="container max-width-adaptive-lg">
            <div class="feature__grid grid grid-gap-lg">
                <div class="col-4@md">
                    <div class="feature__item">
                        <div class="text-component">
                            <h1>追梦去吧</h1>
                        </div>
                    </div>
                </div>

                <div class="col-8@md">
                    <div class="feature__item">
                        <div class="text-component">
                            <p>你的时间有限，所以不要为别人而活。不要被教条所限，不要活在别人的观念里。不要让别人的意见左右自己内心的声音。</p>
                            <p>最重要的是，勇敢的去追随自己的心灵和直觉，只有自己的心灵和直觉才知道你自己的真实想法，其他一切都是次要。</p>
                            <p class="flex justify-end">乔布斯</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-y-xl">
        <div class="container max-width-adaptive-lg">
            <div class="margin-bottom-lg">
                <h1 class="text-center">最近更新</h1>
            </div>

            <ul class="grid grid-gap-md">
                {{ range .artList}}
                    <li class="col-6@sm col-3@xl">
                        <div data-theme="default" class="card card--is-link">
                            <a class="card__link" href="/posts/{{.ID}}" aria-label="Description of the link">
                                <figure class="card__img">
                                    <img src="{{.Thumb|getUploadPath}}" alt="图片预览">
                                    <div class="card__link-icon" aria-hidden="true">
                                        <svg class="icon" viewBox="0 0 32 32">
                                            <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                               stroke="currentColor" fill="none" stroke-miterlimit="10">
                                                <path d="M21,5s-4.333-1.667-7,1L6,14c-2.667,2.667-1,7-1,7"></path>
                                                <path d="M27,11s1.667,4.333-1,7l-8,8c-2.667,2.667-7,1-7,1"></path>
                                                <line x1="12" y1="20" x2="4" y2="28"></line>
                                                <line x1="28" y1="4" x2="20" y2="12"></line>
                                            </g>
                                        </svg>
                                    </div>
                                </figure>

                                <div class="card__content">
                                    <div class="text-component">
                                        <h4>{{.Title}}</h4>
                                        <p class="text-sm color-contrast-medium">{{.Description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                {{end}}
            </ul>

            <div class="text-center margin-top-lg">
                <a href="#0" class="btn btn--dark">查看所有存档</a>
            </div>
        </div>
    </section>

{{end}}

{{define "js"}}
{{end}}



