{{define "title"}}首页{{end}}
{{define "content"}}
    <link rel="stylesheet" href="/public/k/css/article-gallery.css?v=2">
    <div class="bg-contrast-lower">
        <div class="container max-width-lg">
            <div class="subnav  js-subnav">
                <button class="reset btn btn--subtle margin-y-sm subnav__control js-subnav__control">
                    <span>显示所有分类</span>
                    <svg class="icon icon--xxs margin-left-xxs" aria-hidden="true" viewBox="0 0 12 12">
                        <polyline points="0.5 3.5 6 9.5 11.5 3.5" fill="none" stroke-width="1" stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"></polyline>
                    </svg>
                </button>

                <div class="subnav__wrapper js-subnav__wrapper">
                    <nav class="subnav__nav justify-center">
                        <button class="reset subnav__close-btn js-subnav__close-btn js-tab-focus"
                                aria-label="Close navigation">
                            <svg class="icon" viewBox="0 0 16 16">
                                <g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                                   stroke-linejoin="round" stroke-miterlimit="10">
                                    <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                                    <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
                                </g>
                            </svg>
                        </button>

                        <ul class="subnav__list">
                            {{ range .tagLists}}
                                <li class="subnav__item">
                                    <a href="/tags/{{.ID}}" class="subnav__link">{{.Name}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="cd-demo cd-demo-padding-y-xl js-cd-demo">
        <div class="x-nob">
            <div class="x-t max-width-adaptive-lg">
                <div class="x-p gap-lg">
                    {{ range .artLists}}
                        <article class="story x-ru">
                            <a href="#0" class="x-noh">
                                <figure class="media-wrapper x-gx"><img
                                            src="{{.Thumb|getUploadPath}}"
                                            alt="{{.Title}}">
                                </figure>
                            </a>
                            <div class="story__content">

                                <div class="text-component">
                                    <h2 class="x-nod">
                                        <a href="#0">{{.Title}}</a>
                                    </h2>
                                </div>
                                <div class="x-nov x-uc">
                                    <a href="#0" class="block">

                                    </a>
                                    <div>
                                        <p class="x-nog">
                                            <time>{{.CreatedAt}}</time>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {{end}}
                </div>
                <nav class="x-noc x-uv" aria-label="Pagination">
                    {{.page | decodeHtml}}
                </nav>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
{{end}}



