<div class="row">
    <label class="col-md-2 control-label"> 角色名称</label>
    <div class="col-md-7">
        <input type="text" class="form-control input-sm"
               id="title"
               placeholder="角色名称..."
               name="title"
               value="{{.role.Title}}"

               required="">
        <label id="title" class="error" for="title"></label>
    </div>
</div>

<div class="row">
    <label class="col-md-2 control-label"> 说明</label>
    <div class="col-md-7">
        <input type="text" class="form-control input-sm jscolor"
               id="description"
               placeholder="说明..."
               name="description"
               value="{{.role.Description}}"

               required="">
        <label id="description" class="error" for="description"></label>
    </div>
</div>








