<div class="row">
    <label class="col-md-2 control-label"> 角色名称</label>
    <div class="col-md-7">
        <input type="text" class="form-control input-sm"
               id="title"
               placeholder="角色名称..."
               name="Title"
               value="{{.role.Title}}"

               required="">
        <label id="Title" class="error" for="Title"></label>
    </div>
</div>

<div class="row">
    <label class="col-md-2 control-label"> 说明</label>
    <div class="col-md-7">
        <input type="text" class="form-control input-sm jscolor"
               id="Description"
               placeholder="说明..."
               name="Description"
               value="{{.role.Description}}"

               required="">
        <label id="Description" class="error" for="Description"></label>
    </div>
</div>








