{{define "title"}}编辑管理员{{end}}
{{define "content"}}
    <div class=" container-fluid   container-fixed-lg">
        <!-- START card -->
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">编辑管理员信息
                </div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-4">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- END card -->
    </div>
{{end}}

{{define "js"}}
    {{include "public/footer"}}
    <!-- END PAGE LEVEL JS -->
{{end}}

